html
  head
    title='Nasa Climate Data Explorer'
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='styles/main.css')
    link(rel='stylesheet' href='styles/vendor/leaflet.css')
    
  body
    header
      h1='Nasa Climate Data Explorer'

    main
    
      #map

      #yearGraph
    
    footer
      h1!='Nasa Climate Data Explorer by <a href="http://www.stowaway.net">Joe Flintham</a>'

    script(type='text/javascript', src='scripts/vendor/leaflet.js')
    script(type='text/javascript', src='scripts/vendor/d3.js')
    script(type='text/javascript', src='scripts/lib/main.js')
    script(type='text/javascript').
      ncd.Bootstrap();

      