html
  head
    title='Nasa Climate Data Explorer - Fathom Web'
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='styles/main.css')
    link(rel='stylesheet' href='styles/vendor/leaflet.css')
    script(type='text/javascript', src='scripts/lib/main.js')
    script(type='text/javascript', src='scripts/vendor/leaflet.js')
    
  body
    header
      h1='Nasa Climate Data Explorer - Fathom Web'

    main
      #map
    
    footer
      h1!='Nasa Climate Data Explorer by <a href="http://www.fathomweb.co.uk">Fathom Web</a>'